<ion-view view-title="Browse">
  <ion-content ng-controller="KettleCtrl">
     <ion-list>
        <ion-item menu-close ng-click="login()">
          Week 1 Day 1
        </ion-item>
        <ion-item menu-close href="#/app/search">
          Week 1 Day 2
        </ion-item>
        <ion-item menu-close href="#/app/begin">
        Week 1 Day 3
        </ion-item>
        <ion-item menu-close href="#/app/browse">
          Week 2 Day 1
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
          Week 2 Day 2
        </ion-item>
      </ion-list>
    
  </ion-content>
</ion-view>
