<ion-view view-title="Browse">
  <ion-content ng-controller="KettleCtrl">
    <h2>Single Snatch - Left arm</h2>
    <img  id="excimage" style="display:block;margin:auto;width:70%;height:70%;" 
    src="{{jpgImage}}"
     width="300" height="300">
    </br>
    <div align="center" ">
    <a  href="#" style="text-decoration:none;" ng-click="playGif()"><h2 style = "color:blue;"> START </h2></a>
    <h2 id="countdownTime">30</h2>
    </div>
    <div style="position:relative;">
    	<div style="float:left;">
    		<button class="button icon ion-ios-rewind"></button>
    	</div>
    	<div style="float:right">
    		<button class="button icon ion-ios-fastforward"></button>
    	</div>
    </div>
    <p>{{loadImage}}</p>
    
  </ion-content>
</ion-view>
